*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
p{
    color: rgb(44, 44, 44);
    font-weight: 300;
    font-size: 300;
    opacity: 0.8;
}

main{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, rgb(82, 0, 0, 1), rgb(0, 0, 0));
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to left bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
    display: flex;
    backdrop-filter: blur(2rem);
    border-radius: 2rem;
    z-index: 3;
}

img{
    width: 35vh;
    border-radius: 50%;
}
.dashboard{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
}

.landing{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

li{
    margin: 0 1rem;
}

.social-media{
    margin-top: 2rem;
    font-size: 1.2rem;
    transition: color 650ms;
}

.nav-list{
    color: #444444;
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-linkedin-in,
.fa-facebook-square,
.fa-twitter-square,
.fa-github,
.fa-instagram{
    color: #444444;
}
.fa-facebook-square:hover{
    color: #4267b2;
}

.fa-twitter-square:hover{
    color: #38a1f3;
}

.fa-linkedin-in:hover{
    color: #1515ff;
}

.fa-github:hover{
    color: #000000a4;
}

.fa-instagram:hover{
    color: rgb(179, 20, 47);
}